<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cervezas</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{asset('css/cervezas.css')}}">
  </head>
  <body>
    <div class="w3-card">
      <img class="imgCard" src="https://estaticos.muyinteresante.es/media/cache/1000x460_thumb/uploads/images/gallery/5548e20641444aef0ed38df6/beneficios-cerveza13.jpg" alt="Cerveza">
      <div class="w3-container">
        <h3 class="tituloCerveza">Nombre cerveza</h3>
        <p class="poblacion_pais">Población - País</p>
        <div class="contenedorTipoCerveza">
          <div class="tipoCerveza">
            <h4>Tipo</h4>
          </div>
          <div class="importacionCerveza">
            <p>(De importación)</p>
          </div>
        </div>
        <p><strong>Tamaño: </strong>-</p>
        <p><strong>Fecha: </strong>10-10-2017</p>
        <p>50 unidades (cantidad)</p>
      </div>
    </div>
  </body>
</html>
